.plugin-detail {
    width: 90%;
    margin: 50px 0;
    &__card {
        padding: 40px 20px;
    }
    &__main-info {
        padding: 1rem;
        width: 80%;
    }
    &__card-body {
        display: flex;
        flex-direction: row;
    }
}

.detail-image {
    width: 30%;
    margin-right: 1rem;
}